/* normalizing css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#header-banner-div {
    width: 100%;
    min-height: 100px;
    background-color: lightgray;
    text-align: center;
    line-height: 100px;
    margin-bottom: 10px;
}

#main-div {
    width: 100%;
    margin-bottom: 10px;
}

#sidebar-div {
    width: 20%;
    min-height: 400px;
    background-color: lightgray;
    float: left;
    text-align: center;
    line-height: 400px;
}

#body-div {
    width: 79%;
    min-height: 400px;
    background-color: gray;
    float: right;
    text-align: center;
    line-height: 400px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    /* table? */
}

#footer-div {
    width: 100%;
    min-height: 50px;
    background-color: lightgray;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
}

#wrapper-div {
    width: 80%;
    margin: auto;
}

body {
    background-color: lightgrey;
}

/* Style the cat list images */
.listCat {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid white;
    padding: 2px;
}

/* Style the cat dead images */
.deadCat {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid white;
    padding: 2px;
    opacity: 0.4;
}

/* Style the cat shown image */
.shownCat {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 2px solid white;
    padding: 2px;
}

/* Set a style for all buttons */
.button {
    background-color: green;
    /* Green */
    border: none;
    color: white;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
