/* Style the header */
.header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

body {
    font: 1rem 'Fira Sans', sans-serif;
    margin: 0;
    background-color: lightsteelblue;
}

/* Increase the font size of the h1 element */
.header h1 {
    font: 1rem 'Fira Sans', sans-serif;
    font-size: 40px;
}

/* Style the cat list images */
.listCat {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid white;
    padding: 2px;
}

.deadCat {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid white;
    padding: 2px;
    opacity: 0.4;
}

/* Style the cat shown image */
.shownCat {
    float: left;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 2px solid white;
    padding: 2px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: 0.4rem;
}